{% extends "base.html" %}
{% block title %}Students{% endblock %}
{% block content %}

<!--div class="d-flex justify-content-between align-items-center mb-3">
  <div>
    <h3 class="mb-0">Students</h3>
    <small class="text-muted">Class: {{ teacher_class }}</small>
  </div>
  <a href="/student/add" class="btn btn-success">+ Add Student</a>
</div-->
<div class="d-flex justify-content-between align-items-center mb-3">
  <div>
    <h3 class="mb-0">Students</h3>
    {% if role != 'admin' %}
      <small class="text-muted">Class: {{ teacher_class }}</small>
    {% else %}
      <small class="text-muted">Showing students from all classes</small>
    {% endif %}
  </div>
  <a href="/student/add" class="btn btn-success">+ Add Student</a>
</div>


<table class="table table-striped shadow-sm">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Roll</th>
      <th>Class</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for s in students %}
    <tr>
      <td>{{ s.name }}</td>
      <td>{{ s.roll_no }}</td>
      <td>{{ s.class }}</td>
      <td>
        <a href="/student/{{ s.id }}" class="btn btn-sm btn-info">View</a>
        <a href="/student/edit/{{ s.id }}" class="btn btn-sm btn-warning">Edit</a>
        <a href="/student/delete/{{ s.id }}" class="btn btn-sm btn-danger"
           onclick="return confirm('Delete this student?');">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
